.header_top_left {
    float: left;
    line-height: 50px;
    display: inline;
  }
  .header_top_right {
    display: inline;
    float: right;
    line-height: 50px;
  }

  .header_bottom_left {
      line-height: 50px;
    float: left;
    display: inline-;

  }
  .header_bottom_right {
      line-height: 50px;
    float: right;
    display: inline;
  }

.foot_two li{
  color: black;
}