
/* end of floating and centering */
/* start of header css */
.header-left{
	width: 62.04690831556503%;
}
.header-left.image{
	width:245px;
}
.header-center{
	max-width: 58.625em;
}
.nav-bar-background{
	background: #f5f5f5;
}
.nav-bar{
	max-width: 58.6253em;
}

.form{
	margin-top: 17px;
	width: 57.7319587628866%;

}
.input-box{
	width: 277px;
	padding-bottom: 2px;
	display: block;
	background-image: url("../images/input.png");
	background-repeat: no-repeat;
}


.header-right{

}
.search-button{
	height: 20px;
	display: block;
	width: 48px;
	padding-left: 7px;
	background-image: url("../images/search-button.png");
	background-repeat: no-repeat;
}
.search-button button{
   	background-color: #294f58;
	font-size: 11px;
	color: white;
	border-color: transparent;
	outline: none;
	padding-top: 2px;
}

.header-r-name.font-title{
	padding-top: 5px;
	font-family: Arial;
	font-size:15px;
	font-weight:bold;
}
.list-block{


}
.right-block-list{
	clear: both;
}
/* end of header css */

/* start for nav-bar css */

.nav-bar-list{
	width: 62.04690831556503%;

	font-size: 14px;
	line-height: 41px;
	background-color: #f5f5f5;
}
.nav-bar-notifications{
	width: 37.95309168443497%;
	font-size: 14px;
	line-height: 40px;
	background-color: #f5f5f5;
}
.nav-bar-notifications li{
	font-size: 12px;
}
.notification-list ul li{
	line-height:41px;
}

/* end of nav-bar css */

/* start of main body css */

.left-column-block-title{
	font-family: arial;
	background-color:#2fc1da;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 17px;
	line-height: 42px;
	color: white;
	}

ul.left-column-block-list{
	list-style-type: none;
	}
.left-column-block-list li:after {
	display:table;
	clear:both;
	content: "";
}

.left-column-block-list li:hover{
	background-color: white;
}

.left-column-block-list li{

	position: relative;
	padding: 9px 8px 10px 10px;
	font-size: 11px;
}
.left-column-block-list a{
	line-height: 17px;

}
.l-col-block-list-name{
	float: left;
	padding-right: 40px;
}

.r-col-block-list-name{
	float: left;
	width: 100%;

}
.icon-wrapper{
	top: 24%;
	position: absolute;
	right: 7%;
}
/*.download-icon{*/
	/*height:12px; */
	/*width:14px; */
	/*background-color: purple;*/

/*}*/
.main-column-title-block{
	padding-left: 2px;
}
.main-column-title-block h1{
	font-family: Arial;
	font-size: 27px;
}
.tab-set{
	margin-top: 2px;
	 width: 100%;

	background-image: url("../images/tab.png");
	background-repeat: no-repeat;

	border-bottom: 2px solid #7dd9e8;


}
.tab-set-title{
	display: block;
}
.tab ul li {
	float: none;
	width: 50%;
}
.tab ul li a{

}
.tab-set-title{
	line-height: 39px;

	font-size: 12px;
	width: 50%;

}
.tab-set-title a{
	display: block;
	text-align: center;
}
.profile-text{
	float: left;
	padding-left: 10px;
}
.profile{
	font-family: Arial;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* end of main body css */
/*Start of footer css*/
.footer-list{

	line-height: 45px;
	font-size: 10px;
}
.footer-list a{
	color: #c7c7c7;
	display: block;
}
.footer-list ul li{
	list-style-type: none;
	background-image: url("../images/dot.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 11px;
}
.footer-list ul li.last-child{
	background: no-repeat;
}
.footer-list li{
		float: left;
	margin:0px 5px;

}

.footercopyright{
	line-height: 45px;
	font-size: 10px;
}
.footer-background{
	background-color: #727272;
	color: #c7c7c7;
}
ul.header-r-list{
	margin-top: 7px;
	font-size: 13px;
	list-style-type: none;
}
ul.header-r-list li a:hover{
	color: #ffffff;
}
ul.nav-list-item{

}


ul.nav-list-item li{
	display: inline;
	float: left;
	white-space: nowrap;
}
ul.header-r-list li+li {
	padding-left: 5px;
	border-left: 1px solid #000000;
}

ul.nav-list-item li a{
	font-weight: bold;
	padding: 0px 12px;
	display: block;
}
ul.nav-list-item li a.first-child{
	padding-left: 10px;
}
ul.nav-list-item li:hover a{
	color: #fff;
}
ul.nav-list-item li:hover a{
	background-color: #727272;

}
ul.header-r-list li{
	display: inline;
}
ul.nav-list-item{
	font-size: 13px;

}
ul.main-header-notifications-list{
	line-height: 20px;
}
ul.main-header-notifications-list li{
	display: inline;
	list-style-type: none;

}

ul.notification-list li{
	margin-left: 18px;
	display: inline;

}
ul.notification-list li a{
	padding-left: 20px;
}
ul.notification-list li a.invite.active{
	background-image: url("../images/invite-icon-active.png");
	font-weight: bold;
	background-position: left;
	background-repeat: no-repeat;
}
ul.notification-list li a.request.inactive{
	background-image: url("../images/friend-request-icon.png");
	background-position: left;
	background-repeat: no-repeat;
	font-weight: normal;
}
ul.notification-list li a.invite.inactive{
	background-image: url("../images/invite-icon-inactive.png");
	font-weight: normal;
	background-position: left;
	background-repeat: no-repeat;
}
ul.notification-list li a.request.active{
	background-image: url("../images/friend-request-icon-active.png");
	font-weight: bold;
	background-position: left;
	background-repeat: no-repeat;
}
.notification-list li a.active{

}
ul.notification-list li a.request
ul.notification-list li~li{
	margin-left: 32px;

}
ul.main-body-list{
	list-style-type: none;
}
ul.main-body-list li{
	border-bottom:1px solid #d9d9d9; ;
}

.icon-margin{
	margin-right: 8px;

}

.tab-wrapper{
	clear:both;
}

.tab ul{
	list-style-type: none;
}
.tab ul li{
	display: block;
	float: left;
	width: 22.007722008%;
	margin-left: 10px;
	background-image: url("../images/tab-inactive.png");
	background-repeat: no-repeat;

}
.tab ul li.margin{
	margin-left: 20px;
}
/*.tab ul li:nth-child(3){*/
	/*margin-left: 12px;*/
/*}*/
/*.tab ul li:nth-child(4){*/
	/*margin-right: 0px;*/
/*}*/
.tab ul li.active a{
	background-image: url("../images/tab-active.png");
	background-repeat: no-repeat;
	color: #ffffff;
}
.tab ul li:hover a{
	background-image: url("../images/tab-active.png");
	background-repeat: no-repeat;
	color: #ffffff;
}
.tab ul li a{

	font-size: 12px;
	line-height: 26px;
	display: block;

	text-align: center;
}

.main-tab{

}
.profile img{
	width:100%;
	height:100%;
}

.profile-detail0{
	display: block;
	font-size: 11px;
	margin-bottom: 6px;
}
.profile-detail1{
	margin-bottom: 7px;
	font-size: 12px;
	display: block;
}
.profile-detail2{
	margin-bottom: 6px;
	display: block;
	font-size: 10px;

}
.profile-detail3{
	font-size: 9px;
	display: block;
}
.profile-text .red.font11{
	color: #c62c2c;
	font-size: 11px;
}
.red{
	color: #c62c2c;
}
.blue{
	color: #33a9ab;
}
/*.profile-detail2 a.blue{*/
	/*border-spacing: 2px;*/
	/*border-right: 1px solid #000000;*/
/*}*/
.profile-text .blue{
		color: #44b4c2;
}
.profile-text .green{
	color: #7c963f;
}
.font11{
	font-size: 6px;
}
/*End of footer css*/

/*Start of media query for max width 960px*/

@media screen and (max-width:960px) {
	.header-left {

		display: block;
		width: 100%;

	}
	.tab{
		padding: 0px;
	}
	.tab ul li {
		display: block;
	float: none;
	width: 100%;
		background: #dddddd;
	}

	.tab-set{
		height: auto;
		background: none;

	}
	.tab ul li a {
		width: 100%;
	text-align: center;

	}
	.tab ul li:hover a{
		background-color: #727272;
		background-image: none;
		color: #ffffff;
	}
	.tab ul li.active a{
		background-color: #727272;
		background-image: none;
		color: #ffffff;

	}
	.tab-set-title{
		width: 49%;
		display: inline-block;
		font-size: 12px;

		background-color:  #727272;

		margin-bottom: 5px;
	}
	.form{
		width:auto;
		/*margin-left: 23px;*/

		padding-bottom: 10px;
		background-color: #7dd9e8;
	}
	.input-box{
		margin-right: 7px;
		height: 20px;
		width: 276px;
		background-image: url("../images/input.png");

	}
	.input-box input{
		width:245px;
		border: none;
		border-color: transparent;
		background: none;
		font-size: 10px;
		padding-left: 7px;
		outline: none;


	}

	.header-left.image {
		float: left;
	}

	.header-left.form {
		float: left;
	}

	.form {
		margin-left: 23px;
		float: left;
	}

	.header-right {
		float: left;
	}

	.header-r-name {
		float: left;
		padding-left: 5px;
	}

	ul.header-r-list.right-block-list {
		padding-left: 5px;
		float: left;
	}

	.nav-bar-list {
		float:none;
	}

	.nav-bar-notifications {
		width:auto;
		float: left;

	}
	ul.notification-list li {
		display: inline;
		margin-right: 31px;
		margin-left: 10px;

	}
	.bg-image-fix {
		background: none;
	}
	.search-button{
		float: left;
	}
}
/*End of the media query for max width 960px*/

/*Start of the media query for max width 600px*/
@media screen and (max-width:600px){
	.header-left{

		display: block;
	}

	.header-left.image{
		float: none;
		display: block;
	}
	.form{

       margin-left: 5px;

	}

	.search-button{
		margin-top: 5px;
		float: left;
	}
	ul.nav-list-item li {
		display: block;
		float: none;
	}
	ul.notification-list li{
		float: none;
		display: block;
	}
	.nav-bar-list{
		float: left;
	}
	.nav-bar-notifications{
		float: right;
	}

	.list-block{
		display: none;
	}
	.list-block{
		display: block;
		width: 100%;
	}
	.col3-left{
		width: 100%;
	}
	.main-column{
		width:100%;
	}
	.main-column-main-block{
		width: 100%;
	}
	.profile{
		width:100%;
	}
	.main-column.right-body{
		width: 100%;
	}
	.footer-list  ul li{
		float: none;
		background: no-repeat;
	}

}
/*End of the media query of max width 600px*/

/*Start of the media query of max width 332px*/
@media screen and (max-width:332px) {
	body{
		width: 320px;
	}
	.header{

	}
	.nav-bar-notifications{
		float: left;
	}
	.tab-set-title {
		width: 100%;
		text-align: center;
		display: inline-block;
		font-size: 12px;

		margin-bottom: 5px;
	}
	.tab-set-title {
		 padding-left: 0px;
		font-size: 12px;
		 padding-right: 0px;
	}
	.input-box{
		margin-right: 0px;
	}
	.form{
		margin-left: 0px;
		background-color: transparent;
	}
	.header-left{
		margin-left: 0px;
	}
	.header-left.image{
		margin-left: 0px;
	}
	.form{
		width: 57.7319587628866%;
		/*margin-left: 23px;*/
		padding-top: 20px;
		padding-bottom: 10px;
		background-color: #7dd9e8;
	}
	.input-box{
		margin-right: 7px;
		height: 20px;

		background-image: url("../images/input.png");

	}
	.input-box input{
		width: 82.14285714285714%;
		border: none;
		border-color: transparent;
		background: none;
		font-size: 10px;
		padding-left: 7px;
		outline: none;


	}
/*End of the media query of max width 332px*/


}