*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}

body{
    margin: 12px;
   /* background-color: rgb(255, 250, 250);
            end of the header*/
}


    .clearfix {
        overflow: auto;
        display: block;
      }

.header_top{
    width: 100%;
    background-color:#f8f8f8;

}
.header_top_left {
    margin-left: 10px;
   
    
}

.header_top_right{
    margin-right:10px ;
}

.header_top_left img{
    float: left;
}

.header_top_left p{
    
float: left;
}



.logo{
    margin-right: 20px;
}



button{
    color:white;
    background-color: red;
    box-shadow: none;
}
input{
    padding: 12px 32px;
    margin: 2px;
}
span{
    margin: 0px 5px;
}
ul{
    list-style-type: none;
}

.card ul li{
    float: left;
    box-decoration-break:slice ;
}


.header_bottom{
    width: 100%;
    background-color:#f8f8f8;
}
.header_bottom_left{
    float: left;
}
.header_bottom_right{
    float: right;
    
}

.header_bottom_right img{
    margin:5px;
    
}

            /*end of the header*/



.discription{
    text-align: center;

}

.discription h2{
    color: gray;

    font-weight: 400;

}


.card{
    width: 100%;
}

.card li{
    width: 25%;
    padding: 10px;
}

.card h4 ,p{
    text-align: center;
}

.card h4{
    color: gray;
}

.card p{
    color: red;
}



.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    bottom: 80px;
    text-align: center;

  }
  .text h2{
    
    font-size: 24px;
}

  .text p{
    
      font-size: 14px;
  }
  .container{
      text-align: center;
  }

  .container button {
      
        
  }
  
  .container h2{
      text-align: center;
  }
  

  
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .project_work{
      width: 100%;
      height: auto;
  }


  .pro_work h2{
      color: #d44346;
      font-size: 66px;
      font-weight: normal;
      margin: 30px;
      text-align: center;
  }

  .pro_work h3{
    color:gray;
    text-align: end;
    font-size: 20px;
    
    
}
  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  .one{
      display: table;
      width: 40%;
      float: left;
  }

  .two{
      display: table;
      width: 30%;
      float: left;
  }

  .three{
    display: table;
    width: 30%;
    float: left;
}

.foot{
    background-color:#d54346;
    color: white;
}

.foot p{
    text-align: left;
}

.foot_one{

    background-color:#d54346;
    display: table;
    width: 33%;
    float: left;
    
}

.foot_two{
    padding: 0%,5px;
    background-color:#d54346;
    width: 33%;
    height: auto;
    float:left;
    
}
.header_bottom ul li{
    float: left;
    margin: 5px;
}

.foot_two ul li {
    padding: 5px 12px;
    border-bottom: 1px solid #ddd;
    list-style: symbols("*");
  }

.foot_three{
    background-color:#d54346;
    display: table;
    width: 34%;
    float:none;
    
}
.foot_three 

form{
    width: 100%;
}

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
      padding: 10px;
      margin-top:0px ;
      color: white;
      background-color:#d54346;
  }
  .button {
    background-color:#871f21; /* Green */
    border:groove;
    color: white;
    border-width: 2px;
    border: gray;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .foot_three input{
      width: 95%;
      height: 100%;
      margin-right: 10px;
      color: #bbb;
      border-radius: 10px;
      border-color:ghostwhite; 
    }

    .foot_three button{
        text-align: center;
    }









/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      
    }
  }


/* On screens that are 768px or less, set the background color to olive */
@media screen and (max-width: 768px) {
    body {
    
    }

    .header_bottom {
        display: none;
        
      }

      .header_bottom_left{
          display: none;
      }

      .header_top_right input {
          padding: 5px;
          margin: 5px;
      }

      .header_top_right button{
        padding: 5px;
        margin: 5px;
    }
  }

  /* On screens that are 605px or less, set the background color to olive */
@media screen and (max-width: 660px) {
    body {

        
    }

    .header_bottom {
        display: none;
        
      }

      .header_top_left p{
          display: none;
          
      }
      .header_bottom_left{
        display: none;
    }
    .header_top_right input {
        padding: 5px;
        margin: 5px;
    }
    .header_top_right button{
        padding: 5px;
        margin: 5px;
    }
}

    